@font-face {
font-family: ARDESTINE;
src: url(webroot/font/ARDESTINE.ttf);
}

html,
body {
  height:100%;
}

.container {
  height: 100%;
}

.txt-primary {
  color: #18ffff !important;
}

a {
  box-shadow: none;
}

a:hover {
  box-shadow: none;
}

/* input {
  background: transparent;
  text-decoration: none;
  padding: 25px 10px;
  border: 1px solid #18ffff;
  margin-bottom: 10px;
  box-shadow: none;
}

input:hover {
  text-decoration: none;
  box-shadow: none;
} */

input[type="text"],
input[type="email"] {
    width: 100%;
    border: 0;
    background: #37393b;
    height: 50px;
    font-size: 16px;
    color: #8d8d8d;
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: none;
    margin-bottom: 10px;
}

textarea {
  width: 100%;
  border: 0;
  background: #37393b;
  font-size: 16px;
  color: #8d8d8d;
  padding: 20px 20px;
  box-sizing: border-box;
  box-shadow: none;
  margin-bottom: 10px;
  min-height: 130px;
}

.form-submit {
  color: #18ffff;
  font-size: 11px;
  letter-spacing: 3px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  padding: 7px 19px 10px;
  border: 1px solid #18ffff;
  float: left;
  border-radius: 4px;
  background: transparent;
  text-transform: uppercase;
  float: right;
  text-align: center;
  height: 25px;
  box-shadow: none;
}

.form-submit:hover {
  cursor: pointer;
  box-shadow: none;
  background: #18ffff;
  color: #37393b;
}

/*SlideNav Overwrites*/
.open-btn {
  font-size: 2.2em;
}

header.your-header {
  background: transparent;
  padding: 0;
  margin-top: 25px;
  min-height: auto;
}

.slideNav__menu_wrap {
  background-color: #181818;
  width: 95px;
  border-left: #181818;
}

.slideNav__menu_wrap ul.slideNav_ul a.slideNav_link_item {
  padding: 15px 15px;
  text-align: center;
  color: #4d4d4e;
  font-size: 18px;
}

.slideNav__menu_wrap .slideNav_top_icon .material-icons {
  background: transparent;
  color: #4d4d4e;
}

.slideNav__menu_wrap ul.slideNav_ul a.slideNav_link_item:hover {
  background: transparent;
}

nav#your-menu {
  color: #fff;
  margin-top: 30px;
}

.home-link.active span,
.user-link.active span,
.skill-link.active span,
.folio-link.active span,
.contact-link.active span {
  color: #18ffff;
} {
  color: #18ffff;
} {
  color: #18ffff;
} {
  color: #18ffff;
} {
  color: #18ffff;
}

.slideNav_link_item span.lnr:hover {
  color: #18ffff;
}

a.slideNav_link_item:hover, a.slideNav_link_item:focus {
  box-shadow: 0 1px transparent !important;
}

.home-link span.home-text,
.user-link span.user-text,
.skill-link span.skill-text,
.folio-link span.folio-text,
.contact-link span.contact-text   {
  display: none;
  color: #18ffff;
  font-size: 9px;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/*********/


body {
  background: #252627;
}

.title-wrapper h1 {
  -vendor-animation-duration: 10s;
  -vendor-animation-delay: 5s;
  -vendor-animation-iteration-count: infinite;
  font-size: 3rem;
}


.title-wrapper span.char1:hover,
.title-wrapper span.char2:hover,
.title-wrapper span.char3:hover,
.title-wrapper span.char4:hover,
.title-wrapper span.char5:hover,
.title-wrapper span.char6:hover,
.title-wrapper span.char7:hover,
.title-wrapper span.char8:hover,
.title-wrapper span.char9:hover,
.title-wrapper span.char10:hover {
  color: #18ffff;
  -webkit-animation: rubberBand 1s;
  animation: rubberBand 1s;
}

.title-wrapper h2 {
  color: #18ffff;
  font-weight: normal;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
}

h2.job-title {
  color: #8d8d8d ;
  font-size: 9px;
}

.contact-button {
  padding: 8px 18px;
  border: 1px solid #18ffff;
  background: transparent;
  color: #18ffff;
  font-size: 11px;
  letter-spacing: 4px;
  border-radius: 2px;
}

.contact-button:hover {
  text-decoration: none;
  cursor: pointer;
  color: #252627;
  background: #18ffff;
  border: 1px solid #18ffff;
  box-shadow: 0 1px #252627;
}

.custom-container {
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 15%;
  padding-right: 5%;
}

.home-logo {
  max-width: 585px;
}

.name {
  font-size: 15px;
  font-family: ARDESTINE, sans-serif;
  letter-spacing: 12px;
}

.name span.char1:hover,
.name span.char2:hover,
.name span.char3:hover,
.name span.char4:hover,
.name span.char5:hover,
.name span.char6:hover,
.name span.char7:hover,
.name span.char8:hover,
.name span.char9:hover,
.name span.char10:hover {
  color: #18ffff;
  -webkit-animation: rubberBand 1s;
  animation: rubberBand 1s;
}

.homepage-section span.word2 span.char1 {
  text-shadow: 1px 1px #fe4902, 2px 2px #fe4902, 3px 3px #fe4902;
  -webkit-transition: all 0.12s ease-out;
  -moz-transition: all 0.12s ease-out;
  -ms-transition: all 0.12s ease-out;
  -o-transition: all 0.12s ease-out;
  color: #18ffff;
}

/*Contact Section*/

.contact-section,
.homepage-section {
  font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #252627 url('../img/bg-icons-dark.png') repeat center;
  margin-top: -30px;
}
